.home-hero {
  align-items: center;
  color: #fff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  min-height: 300px;
}

.hero-title {
  font-size: 45px;
  margin: 0;
  padding: 20px 15px;
}

.home-hero .search-form {
  display: flex;
  flex-direction: column;
}

.home-hero .search-input {
  border-radius: 19px;
  padding: 7px;
  margin: 15px 0;
}

.home-hero .submit-button {
  background: #099cd4;
  border: none;
  border-radius: 25px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  padding: 7px;
  text-decoration: none;
}
